
@font-face {
  font-family: 'Reem Kufi Regular';
  font-style: normal;
  font-weight: normal;
  src: local('./assets/fonts/Reem Kufi Regular'), url('./assets/fonts/ReemKufi-Regular.woff') format('woff');
  }

html, body {
  font-family: 'Reem Kufi Regular', sans-serif !important;
  
}

.days {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: normal !important;
}
.fc .fc-daygrid-day.fc-day-today {
  background-color: rgba(0,0,0,0.05) !important;
}

.fc-button{
  
  border: 0 !important;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  /* background-color: transparent !important; */
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent
}
.animate {
  animation: showUp 2s ease;
}

.grow-animate {
  animation: growUp .4s ease-out;
}

@keyframes growUp {
  from {
    transform: scaleY(0);
  } 
  to {
    transform: scaleY(1);
  }
}

@keyframes showUp {
  
  from {
    transform: translateY(30px);
    opacity: 0;
    transition: all .5s ease;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}